<template name="ladders">
    {{> newLadderModal}}
    {{#if ladders}}

    <div class="row-fluid">
        <div class="span8"><h3>Ladders</h3></div>
        <div class="span4" style="margin-top: 14px">
            <button class="btn btn-primary pull-right" data-toggle="modal" href="#newLadderModal">Add a new Ladder
            </button>
        </div>
    </div>

    <div id="ladderList">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th width="14"></th>
            </tr>
            </thead>
            <tbody>
            {{#each ladders}}
            {{> ladder}}
            {{/each}}
            </tbody>
        </table>
    </div>
    {{else}}
    <div class="pagination-center text-center">
        <br/>
        <br/>

        <h3>There are currently no ladders created.<br>Please consider adding some using the button below...</h3>
        <br/>
        <br/>
    </div>
    <div class="pagination-center text-center">
        <button class="btn btn-primary btn-large" data-toggle="modal" href="#newLadderModal">Add a new
            Ladder
        </button>
    </div>
    {{/if}}
</template>

<template name="ladder">
    <tr class="selectLadder"
        data-id="{{_id}}">
        <td>{{name}}</td>
        <td><a class="removeLadder" href="#" data-id="{{_id}}"><i
                class="icon icon-trash"></i></a></td>
    </tr>
</template>
