<template name="newLadderModal">
    <div id="newLadderModal" class="modal hide fade in" style="display: none;">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h4>New Ladder</h4>
        </div>
        <form class="form-horizontal" id="newLadderForm">
            <div class="modal-body">
                <p>Please fill in the required information:</p>


                <div class="control-group">
                    <label class="control-label" for="name">Name</label>

                    <div class="controls">
                        <input class="span4" id="name" name="name" type="text" placeholder="Ladder name">
                        <p id='name-error'></p>
                    </div>

                    <label class="control-label" for="description">Description</label>

                    <div class="controls">
                        <textarea class="span4" id="description" name="description"
                                  placeholder="Short description..."></textarea>

                        <p id='description-error'></p>
                    </div>

                    <label class="control-label" for="game">Game</label>

                    <div class="controls">
                        <input type="hidden" id="game" name="game" class="span4">
                        <p id='game-error'></p>
                    </div>
                </div>
                <div>
                    <button class="btn btn-success pull-right" id="newLadderButton"
                            onClick="return false;">Create
                    </button>
                </div>
            </div>
        </form>
    </div>
</template>
