<template name="newLadderModal">
    <div id="newLadderModal" class="modal hide fade in" style="display: none;">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h4>New Ladder</h4>
        </div>
        <div class="modal-body">
            <p>Please fill in the required information:</p>

            <form class="form-horizontal" id="newLadderForm">
                <div class="control-group">
                    <label class="control-label" for="name">Name</label>

                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on">@</span>
                            <input class="span2" id="name" type="text" placeholder="Ladder name">
                        </div>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" data-dismiss="modal" id="newLadderButton" onClick="return false;">Create
            </button>
        </div>
        </form>
    </div>
</template>
