<template name="ladderMatches">
<div class="span6">
<div class="pagination-center text-center well well-small">
<strong>Matches</strong>
</div>
    <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Contenders</th>
        <th width="30%">Winner</th>
      </tr>
    </thead>
    </table>
<ul class="pager">
  <li class="previous disabled">
    <a href="#">&larr; Newer</a>
  </li>
  <li class="next pull-right disabled">
    <a href="#">&rarr; Older</a>
  </li>
</ul>
<div class="pagination-center text-center">
<button class="btn btn-primary" data-toggle="modal" href="#newMatchModal">Insert Match</button>
</div>
</div>
</template>
