<template name="modalLadderAddPlayer">
    <div id="modalLadderAddPlayer" class="modal hide fade in hide" style="display: none; ">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h4>Add player to ladder</h4>
        </div>
        <form class="" id="newLadderPlayerForm">
            <div class="modal-body">

                <p>Pick some players</p>

                <div class="control-group">
                    <div class="controls">
                        <input type="hidden" id="playersInput" placeholder="Enter nicknames here..."
                               style="width: 100%">
                    </div>
                </div>
                <div>
                    <button class="btn btn-success pull-right" data-dismiss="modal"
                            id="addPlayerButton" onClick="javascript: void(0);">Create
                    </button>
                </div>
            </div>
        </form>
    </div>
</template>
