<template name="ladders">
  {{> newLadderModal}}
  {{#if ladders}}
  <div id="ladderList">
    <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Ladder name</th>
        <th width="14"></th>
      </tr>
    </thead>
    <tbody>
    {{#each ladders}}
      {{> ladder}}
    {{/each}}
    </tbody>
    </table>
  </div>
  {{else}}
  <div class="pagination-center text-center">
  <br/>
  <br/>
  <h4>There are currently no ladders in the database!. Please consider adding some using the button below...</h4>
  <br/>
  <br/>
  </div>
  {{/if}}
<div class="pagination-center text-center">
<button class="btn btn-success" data-toggle="modal" href="#newLadderModal">Add a new Ladder</button>
</div>
</template>
