<template name="players">
    {{> newPlayerModal}}
    {{#if players}}
    <div class="row-fluid">
        <div class="span4"><h3>Players</h3></div>
        <div class="span8" style="margin-top: 14px">
            <button class="btn btn-primary pull-right" data-toggle="modal" href="#newPlayerModal">
                Add a new Player
            </button>
        </div>
    </div>
    <div id="playerList">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>Nickname</th>
                <th width="14"></th>
            </tr>
            </thead>
            <tbody>
            {{#each players}}
            {{> player}}
            {{/each}}
            </tbody>
        </table>
    </div>
    {{else}}
    <div class="pagination-center text-center">
        <br/>
        <br/>
        <h3>There are currently no players created.<br>Please consider adding some using the button below...</h3>
        <br/>
        <br/>
    </div>
    <div class="pagination-center text-center">
        <button class="btn btn-primary btn-large" data-toggle="modal" href="#newPlayerModal">Add a new Player</button>
    </div>
    {{/if}}
</template>

<template name="player">
    <tr>
        <td>{{nickname}}</td>
        <td><a href="#" class="removePlayer" data-id="{{_id}}"><i class="icon icon-trash"></i></a></td>
    </tr>
</template>