<template name="players">
    {{> newPlayerModal}}
    {{#if players}}
    <div id="playerList">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>Nickname</th>
                <th width="14"></th>
            </tr>
            </thead>
            <tbody>
            {{#each players}}
            {{> player}}
            {{/each}}
            </tbody>
        </table>
    </div>
    {{else}}
    <div class="pagination-center text-center">
        <br/>
        <br/>
        <h4>There are currently no players in the database!. Please consider adding some using the button below...</h4>
        <br/>
        <br/>
    </div>
    {{/if}}
    <div class="pagination-center text-center">
        <button class="btn btn-success" data-toggle="modal" href="#newPlayerModal">Add a new Player</button>
    </div>
</template>

<template name="player">
    <tr>
        <td>{{nickname}}</td>
        <td><a href="#" class="removePlayer" data-id="{{_id}}"><i class="icon icon-trash"></i></a></td>
    </tr>
</template>